@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
overflow-x: hidden;
font-family: 'Lato', sans-serif;
color:#50596;


}
/* Navigation */
.navbar{
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem; /* 1 rem = 16px  */
	letter-spacing: .1rem; /* spacing out letter */
	background :rgba(0.5, 0.5, 0.5, 0.5)/* !important; to over write bg-dark navbar class*/
}
.navbar-brand img{ /* to resize logo img */
	height: 2.5rem;
}
.navbar-nav li{
	padding-right: .7rem; /* to space out the link(li) */
}
.navbar-dark .navbar-nav .nav-link{
	color: gold;
	padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.action
.navbar-dark .navbar-nav .nav-link:hover {
	color: white;
}

/* Start Landing Page */
.home-inner {
	background-image: url(img/background-business-computer.jpg);
}
.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 38%; /*To move text up to the page */
	z-index: 1;
	color: gold;
	text-transform: uppercase;

}
.caption h1 {

	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: 1rem;
  transition-duration: 350ms;

}
.caption h3 {
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.6rem;
	letter-spacing: .1rem;
}
.btn-lg { /* Bootstrap button comes rounded with default */
	border-width: medium;
	border-radius: 0;
	padding: .6rem 1.3rem;
	font-size: 1.1rem;
}
.col-12 {
	background: #b5b7b7;
	padding: 1rem;
}
.col-12 h1 {
	color: gold;
	text-shadow: .1rem .1rem .8rem black;
	padding-top: 1rem;
	padding-bottom: 1rem;
	letter-spacing: .1rem;
}
.col-12 h3 {
	color: #527a00;
	letter-spacing: .1rem;
}
.col-12 h2{
	color: #ff0000;
}
.col-12 h4 {
	color: #2c2cea;




/* --- Nav scrolling Offset ---*/
.offset:before {
	height: 4rem;
	margin-top: -4rem;
	content: "";
	display: block;
}





/* --- Extra Bootstrap Column Padding --*/
[class*="col-"] {

}




/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
