@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
overflow-x: hidden;
font-family: 'Lato', sans-serif;
color:#50596;


}
/* --- Nav scrolling Offset ---*/
.offset:before {
	display: block;
	content: "";
	height: 4rem;
	margin-top: -4rem;

}

/* Navigation */
.navbar{
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem; /* 1 rem = 16px  */
	letter-spacing: .1rem; /* spacing out letter */
	background :rgba(0.5, 0.5, 0.5, 0.5)/* !important; to over write bg-dark navbar class*/
}
.navbar-brand img{ /* to resize logo img */
	height: 3rem;
}
.navbar-nav li{
	padding-right: .7rem; /* to space out the link(li) */
}
.navbar-dark .navbar-nav .nav-link{
	color: gold;
	padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.action
.navbar-dark .navbar-nav .nav-link:hover {
	color: white;
}

/* Start Landing Page */
.home-inner {
	background-image: url(img/background-books-bookshelves.jpg);
	display: center;
}
.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 40%; /*To move text up to the page */
	z-index: 1;
	color: gold;
	text-transform: uppercase;

}
.caption h1 {
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem blue;
	padding-bottom: 1rem;
  transition-duration: 350ms;

}
.caption h3 {
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.6rem;
	letter-spacing: .1rem;
	color: red;
}
.caption h2 {
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem blue;
	padding-bottom: 1.6rem;
	letter-spacing: .1rem;
	color: gold;
}
.btn-lg { /* Bootstrap button comes rounded with default */
	border-width: medium;
	border-radius: 0;
	padding: .6rem 1.3rem;
	font-size: 1.1rem;
}
.btn-md {
	border-width: medium white;
	border-radius: 0;
	padding: .6rem 1.3rem;
	font-size: 1.1rem;
	letter-spacing: .1rem;
	margin-bottom: .2rem;
	text-transform: uppercase;
}

.col-12 {
  padding-top: 3rem;
	padding-bottom: 3rem;
	border-radius: .1rem;
	margin: .1rem;
	display: 100%;
	margin-bottom: 0;
}
.col-12 h1 {
	color: #0b8bed;
	text-shadow: .1rem .1rem .8rem red;
	padding-top: 1rem;
	padding-bottom: 1rem;
	letter-spacing: .1rem;
}
.col-12 h3 {
	color: #527a00;
	letter-spacing: .1rem;
}
.col-12 h2{
	color: green;
}
.col-12 h4 {
	color: #1f7a9b;
}


/* --- About --*/
.narrow {
	width: 100%;
	margin: 2rem auto;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.narrow h1{
	font-size: 2.4rem;
}
.btn-secondary {
	border-width: medium;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 1.2rem;
	padding: .6rem 1.2rem;
	margin: 1rem;
	color:  green;
	background-color: #aabdbf;
	border-color: #1f7a9b;
}
.btn-secondary: hover {
	background-color: #aabdbf;
	border-color: blue;
}

/* -- Start A Jumbotron  Projects-- */
 .jumbotron {
	 margin-bottom: 0;
	 padding: 2rem 0 3.5rem;
	 border-radius: 0;
	}
		h2.heading {
			font-size: 1.9rem;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 1.9rem;
    	}
.heading-underline {
	width: 5rem;
	height: .2rem;
	background-color: black;
	margin: 0 auto 2rem;
}
.projects svg.svg-inline--fa {
	color: #1ebba3;
}
.projects h3 {
	font-size: 1.5rem;
	margin-top: .5rem;
	padding-bottom: .4rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
}
.projects p {
	font-size: 1.2rem;
	letter-spacing: .03rem;
	color: black;
	margin-bottom: 2rem;
}
.projects a {
	color: #085ba0;
}
.projects a:hover {
	color: white!important;
}
/* -- Start of Skills Section --*/
#skills {
	display: inline;
	margin-bottom: 2rem;
}
#skills h2 {
	color: red;
	margin-top: 1rem; /* -Add margin-top in h2 (SKILLS)   - */

}
#fixed {
	background-image: url(img/apple-devices-business.jpg);
	z-index: -1; /* z-index: -1 to make sure that the image stay underneath the content */
}
.row-dark {
	background-color: rgba(0, 0, 0, 0.55);
	padding: 7rem 2rem;
	text-align: center;
	z-index: 1000!important;
	color: #1092d3;
	margin-top: auto;
}
.fixed-background h3 {
	margin-bottom: 3rem;
}
.fixed-background p {
	margin-top: 1rem;
}
.col-md-5 {
	display: inline-block;
}
.col-md-5 h4{
	color: white;
	margin-top: 1rem;
}
.col-md-5 p {
	color: #e9ecff;
	margin-bottom: 1rem;
}
#contact {
	background-color: #b1bbbc;
	padding-top: 3rem;
	padding-bottom: 1rem;
}
#contact h2{
	color: red;
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1.9rem;
	margin-top: 2rem;
}
#contact p{
	color: black;
	font-size: 1.5rem;
	margin-bottom: 2rem;
}
#contact a {
	color: #0e79a3;
	height: .9rem;
	margin-top: 2rem;
}
#contact a:hover {
	color: white!important;
}
.mb-5 {
	color: #075477;
}
footer {
	text-align: center;
	font-size: 1.3rem;
	padding-top: 1.9rem;
	padding-bottom: 1.5rem;
	background-color: #38424c;
	color: gold;
}

/* ----- Media Queries -----*/

@media (max-width:767px) {

	.caption {
		width: 100%;
		max-width: 100%;
		position: absolute;
		top: 50%; /*To move text up to the page */
		z-index: 1;
		color: gold;
	}
	.caption h1 {
		font-size: 1.6rem;
		padding-bottom: 1rem;
	  transition-duration: 350ms;

}
	.caption h2 {
		font-size: 1.3rem;
		padding-bottom: 1rem;
		color: gold;
	}
	.btn-lg { /* Bootstrap button comes rounded with default */
		padding: .5rem 1rem;
		font-size: .9rem;
	}
	.btn-secondary {
		border-width: medium;
		text-transform: uppercase;
		font-size: .9rem;
		padding: .6rem 1.2rem;
		margin: 1rem;
		color:  green;
		background-color: #aabdbf;
		border-color: #1f7a9b;
	}
	.narrow h1{
		font-size: 1.6rem;
	}
	.col-12 h1 {
		color: green;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.col-12 h3 {
		font-size: 1.2rem;
		color: #527a00;

	}
	.col-12 h2{
		color: green;
		font-size: 1.3rem;
	}
	.col-12 h4 {
		font-size: 1.1rem;
		color: #1f7a9b;
	}
	.projects h3 {
		font-size: 1.2rem;
	}
	.projects p {
		font-size: 1rem;
		color: black;
	}
	.col-md-5 h4{
		font-size: 1.1rem;
		color: white;
		margin-top: 1rem;
	}
	#contact h2{
		color: red;
		font-size: 1.3rem;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 2rem;
	}
	#contact h4 {
		font-size: 1.1rem;
	}
	#contact p{
		color: black;
		font-size: 1.1rem;
		margin-bottom: 1rem;
	}
	#contact a {
		color: #0e79a3;
	}
	.heading-underline {
		width: 2rem;
		height: .1rem;
		background-color: black;
		margin: 0 auto 2rem;
	}
	footer {
		font-size: .9rem;
		background-color: #38424c;
		color: gold;
	}

}



/* --- Extra Bootstrap Column Padding --*/
[class*="col-"] {

}




/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
